@import "tailwindcss";

:root {
  --md-sys-color-primary: rgb(128 213 212);
  --md-sys-color-surface-tint: rgb(128 213 212);
  --md-sys-color-on-primary: rgb(0 55 55);
  --md-sys-color-primary-container: rgb(0 79 79);
  --md-sys-color-on-primary-container: rgb(156 241 240);

  --md-sys-color-secondary: rgb(176 204 203);
  --md-sys-color-on-secondary: rgb(27 53 52);
  --md-sys-color-secondary-container: rgb(50 75 75);
  --md-sys-color-on-secondary-container: rgb(204 232 231);

  --md-sys-color-tertiary: rgb(179 200 232);
  --md-sys-color-on-tertiary: rgb(28 49 75);
  --md-sys-color-tertiary-container: rgb(51 72 99);
  --md-sys-color-on-tertiary-container: rgb(211 228 255);

  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);

  --md-sys-color-background: rgb(14 21 20); /* O preto/esverdeado profundo do seu tema */
  --md-sys-color-on-background: rgb(221 228 227);

  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(221 228 227);

  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(190 201 200);

  --md-sys-color-outline: rgb(136 147 146);
  --md-sys-color-outline-variant: rgb(63 73 72);

  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);

  --md-sys-color-inverse-surface: rgb(221 228 227);
  --md-sys-color-inverse-on-surface: rgb(43 50 49);
  --md-sys-color-inverse-primary: rgb(0 106 106);

  --md-sys-color-primary-fixed: rgb(156 241 240);
  --md-sys-color-on-primary-fixed: rgb(0 32 32);
  --md-sys-color-primary-fixed-dim: rgb(128 213 212);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 79);

  --md-sys-color-secondary-fixed: rgb(204 232 231);
  --md-sys-color-on-secondary-fixed: rgb(5 31 31);
  --md-sys-color-secondary-fixed-dim: rgb(176 204 203);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 75 75);

  --md-sys-color-tertiary-fixed: rgb(211 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(4 28 53);
  --md-sys-color-tertiary-fixed-dim: rgb(179 200 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 72 99);

  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(52 58 58);

  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(22 29 29);
  --md-sys-color-surface-container: rgb(26 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 43);
  --md-sys-color-surface-container-highest: rgb(47 54 54);
}

@theme {
  --color-primary: var(--md-sys-color-primary);
  --color-surface-tint: var(--md-sys-color-surface-tint);

  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-color-on-primary-container);

  --color-secondary: var(--md-sys-color-secondary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);

  --color-tertiary: var(--md-sys-color-tertiary);
  --color-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);

  --color-error: var(--md-sys-color-error);
  --color-on-error: var(--md-sys-color-on-error);
  --color-error-container: var(--md-sys-color-error-container);
  --color-on-error-container: var(--md-sys-color-on-error-container);

  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);

  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);

  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);

  --color-outline: var(--md-sys-color-outline);
  --color-outline-variant: var(--md-sys-color-outline-variant);

  --color-shadow: var(--md-sys-color-shadow);
  --color-scrim: var(--md-sys-color-scrim);

  --color-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-inverse-primary: var(--md-sys-color-inverse-primary);

  --color-primary-fixed: var(--md-sys-color-primary-fixed);
  --color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
  --color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);

  --color-secondary-fixed: var(--md-sys-color-secondary-fixed);
  --color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);

  --color-surface-dim: var(--md-sys-color-surface-dim);
  --color-surface-bright: var(--md-sys-color-surface-bright);

  --color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);

    /* Display */
  --text-display-lg: 84px;
  --text-display-lg--line-height: 96px;
  --text-display-lg--font-weight: 700;
  --text-display-lg--letter-spacing: -0.02em;

  /* Headlines */
  --text-headline-lg: 48px;
  --text-headline-lg--line-height: 56px;
  --text-headline-lg--font-weight: 600;

  --text-headline-md: 36px;
  --text-headline-md--line-height: 44px;
  --text-headline-md--font-weight: 500;

  /* Body */
  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--font-weight: 400;

  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;

    /* Label */
  --text-label-lg: 16px;
  --text-label-lg--line-height: 22px;
  --text-label-lg--font-weight: 500;
  --text-label-lg--letter-spacing: 0.1em;

  --text-label-sm: 12px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--font-weight: 500;
  --text-label-sm--letter-spacing: 0.1em;

  /* Mapeamento de Famílias de Fontes do MD3 para o Tailwind */
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Vincula as fontes criadas aos seus tokens de utilitários */
  --text-display-lg--font-family: var(--font-serif);
  --text-headline-lg--font-family: var(--font-serif);
  --text-headline-md--font-family: var(--font-serif);
  
  --text-body-lg--font-family: var(--font-sans);
  --text-body-md--font-family: var(--font-sans);

  --text-label-lg--font-family: var(--font-mono);
  --text-label-sm--font-family: var(--font-mono);
}